.boite__messages{
    position: fixed;
    bottom: 0;
    right: 30px;
    height: 80%;
    max-height: 530px;
    width: 400px;
    overflow: auto;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px, rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    transition: all 200ms ease 0s;
    -webkit-border-radius: 16px 16px 0 0;
    -moz-border-radius: 16px 16px 0 0;
    -ms-border-radius: 16px 16px 0 0;
    -o-border-radius: 16px 16px 0 0;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
}
.boite_messages_scroll{
    height:calc(100% - 110px) ;
    overflow: auto !important; 
}
.h100{
    height: 100% !important;
}
.toBottom{
    height: 53px !important;
}
@media (max-width: 1100px) {
    .boite__messages{
        display: none;
    }
}