.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;
    background-color: rgba(91, 112, 131, 0.4);
    display: none;
}

.overlay.isActive {
    display: block;
}

.login__content {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 650px;
    border-radius: 19px;
    background-color: black;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 11px 11px 19px 11px;
}
.modal__header.steps {
    justify-content: flex-start;
}

.empty__header__modal {
    width: 30px;
    height: 30px;
}

.modal__logo {
    padding-right: 12px;
    margin: 0 auto;
}

.modal__close {
    /* position: absolute; */
    top: 13px;
    left: 13px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    align-items: center;
    transition: all .2s ease;
}
.modal__close,
.modal__body,
.modal__logo {
    display: flex;
    justify-content: center;
}

.modal__close:hover {
    background-color: #ffffff45;
}
.modal__close svg {
    height: 1.2rem;
    cursor: pointer;
}

.Register__steps {
    font-size: 19px;
    font-weight: 600;
    margin-left: 33px;
}

.Register__next__steps {
    position: absolute;
    bottom: 24px;
    left: 50%;
    width: 440px;
    color: #000;
    font-weight: 600;
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 33px;
    height: 50px;
    cursor: pointer;
    transform: translateX(-50%);
    transition: .2s ease;
}
.Register__next__steps.submitRegister {
    background-color: #1d9bf0;
    color: rgb(231, 233, 234) !important;
}
/* .Register__next__steps.submitRegister.disbled {
    opacity: .7;
    pointer-events: none;
    cursor: none;
} */
.Register__next__steps.submitRegister:hover {
    background-color: #1f8dd6;
}
.Register__next__steps:hover {
    background-color: #dfdfdf;
}
.Register__next__steps.disbled {
    opacity: .7;
    pointer-events: none;
}

.step3__paragraph {
    position: absolute;
    bottom: 102px;
    line-height: 1.2;
    width: 440px;
    font-size: 12.5px !important;
    left: 50%;
    transform: translateX(-50%);
}

.add__profile__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 188px;
    height: 188px;
    border-radius: 50%;
    background: #fff;
}

.add__profile__image img {
    filter: brightness(60%);
    border: 2.3px solid #000;
    width: 184px;
    height: 184px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.Skip__for__new {
    width: 440px;
    height: 52px;
}

.camera__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 44px;
    height: 44px;
    background-color: #272f37;
    border-radius: 50%;
    transition: all .2s ease;
}
.camera__icon:hover {
    background-color: #323639;
}
.camera__icon svg{
    width: 22px;
    height: 22px;
    fill: rgb(255, 255, 255);
}

@media (max-width: 1200px) {
    .login__content{
        width: 500px;
        height: 550px;
    }
}
@media (max-width: 900px) {
    .login__content{
        width: 628px;
        height: 622px;
    }
}
@media (max-width: 700px) {
    .login__content{
        width: 505px;
        height: 540px;
    }
    .step3__paragraph {
        display: none;
    }
}