.chat__line{
    padding: 15px 16px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.chat__left .chat__line.active{
    background: #202327;
    border-right: 2px solid #1d9bf0;
}
.chat__line_{
    width: 100%;
    display: flex;
    gap: 10px;
}
.chat__line_in{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat__avatar{
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}
.chat__avatar img{
    width: 100%;
    height: 100%;
}  
.chat__line__content{
    width: calc(100% - 58px) !important;
}
.chat__line__info{
    display: flex;  
    align-items: center;
}
.chat__line__info{
    gap: 5px;
    max-width: 90%;
    width: fit-content;
}
.chat__line__name , .chat__line__username{
    width: 41%;
    max-width: 113px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.chat__left .chat__line__name , .chat__left .chat__line__username{
    /* width: 38%; */
    max-width: max-content;
}
 
.chat__line__time{
    width: 73px;
}
.chat__line_message{
    width: 236px;
    color: gray;
    font-size: 15px;
}
.point{
    color: gray;
    padding-bottom: 10px;
    position: relative;
    bottom: 4px;
}