.Share__card {
    min-width: 255px;
    width: fit-content;
    right: 0;
    bottom: 2px;
    padding: 12px 4px;
    animation: show 1s linear forwards;
    -webkit-animation: show .04s linear forwards;
}


@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.Share__card .share__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.Share__card .share__list div {
    display: flex;
    align-items: center;
    justify-content: start;
}

.share__title:not(.post__footer li) {
    font-size: 15.5px;
    margin-left: 15px;
    font-weight: 500;
    color: rgb(231, 233, 234);
}


.share__List__icon svg {
    fill: rgb(231, 233, 234) !important;
    width: 21px;
    padding-top: 0;
    margin-left: 10px;
}





