.header__section {
    padding-top: 100px;
}
.head_name_page {
    backdrop-filter: blur(20px);
    backdrop-filter: brightness(16%);
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(12px);
    z-index: 10;
    max-width: 608px;
    width: 100%;
    top: 0;
    position: fixed;
}
.header__title h3{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}
.header__links{
    border-bottom: 1px solid rgba(128, 128, 128, 0.436);
}
.header__links,
.header__links > div{
    align-items: center;
    justify-content: center;
    display: flex;
}
.header__links > div{
    height: 53px;
    width: 100%;
    text-align: center;
    transition: all .3s ease;
}
.header__links > div{
    font-size: 15px;
    cursor: pointer;
    color: #808080de;
    position: relative;
    font-weight: 500;
}
.header__links > div.active{
    font-weight: 600;
    color: #fff;
}
.header__links > div.active::after{
    content : '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 4px;
    background-color: var(--blue);
    border-radius: 8px;
}
.header__links > div:hover{
    background-color: rgba(128, 128, 128, 0.236);
}

:root {
    --blue: #1d9bf0;
    --black: #000;
    --text-color: #e7e9ea;
    --gray: #71767B;
    --second-title: rgb(106, 108, 109);
}

.create__home {
    display: flex;
    border-bottom: 1px solid rgb(47, 51, 54);
    padding: 8px 16px 8px 12px;
}

.create__right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.create__input input {
    height: 52px;
    /* padding: 12px; */
    font-size: 19px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}


.create__input input.arabic {
    text-align: right;
}


.create__home video  {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
