.home {
    padding-bottom: 50%;
    position: relative;
}

.tweets__container {
    transition: all .1s ease;
}

.showTweets {
    height: 48px;
    cursor: pointer;
    transition: .2s ease;
    border-bottom: 1px solid rgb(47, 51, 54);
}

.showTweets {
    background-color: rgba(255, 255, 255, .03);
}

.showTweets span {
    font-size: 15px;
    font-weight: 400;
    color: rgb(29, 155, 240);
}