.chat__content{
    width: 100%;
}
.chat__content__head{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    padding-top: 20px;
    padding-inline: 50px;
    padding-bottom: 30px;
    cursor: pointer;
    border-bottom: 1px solid #80808045;
    text-align: center;
}
.user__InFo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user__InFo .name{
    font-size: 15px;
    font-weight: 600;
}
.user__bio{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
}
.user__joined{
    font-weight: 400;
    font-size: 15px;
}
.chat{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px; 
}
.chat_ele{
    display: flex;
    flex-direction: column;
    gap: 7px; 
}
.align__flex_end { 
    align-self: flex-end;
}
.align__flex_end .chat__text{
    align-self: flex-end;
    border-radius: 20px 20px 0px 20px;
    -webkit-border-radius: 20px 20px 0px 20px;
    -moz-border-radius: 20px 20px 0px 20px;
    -ms-border-radius: 20px 20px 0px 20px;
    -o-border-radius: 20px 20px 0px 20px;
}
.align__flex_end .chat__date{
align-self: flex-end;
}
.align__flex_end .chat__text{
    background-color: rgb(29, 155, 240) !important;
}
.chat__img{
    max-width: 80%;
    overflow: hidden;
    /* box-shadow: rgb(42, 45, 48) 0px 2px 12px; */
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.chat__img img{ 
    width: 100%;
}
.chat__text{
    color: rgb(255, 255, 255);
    background-color: #2f3336;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding: 11px 15px;
    width: fit-content;
    border-radius: 20px 20px 20px 0;
    max-width: 80%;
}
