.login__container {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
}
.login__container.step {
    width: 300px;
}


.login__title {
    margin-bottom: 35px;;
    font-size: 30px;
    font-weight: 500;
}

.login__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    margin-top: 19px;
}
.login__buttons.down {
    margin-top: 0;
}

.new__icons__sign {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.new__icons__sign.apple {
    width: 20px;
    height: 20px;
}
.login__buttons button{
    border-radius: 33px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    color: rgb(15, 20, 25);
    font-weight: 600;
    font-size: 14.5px;
    cursor: pointer;
    transition: all .15s ease;
}
.login__buttons button.login__forgot__button{
    background-color: transparent;
    border: 1px solid #ffffff84;
    color: #fff;
}
.login__buttons button.login__forgot__button:hover{
    background-color: #ffffff23;
}
.login__buttons button:hover {
    background-color: #dfdfdf;
}

.login__line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 19px 0;
}
.login__line div{
    height: 1px;
    width: 100%;
    background-color: rgb(51, 54, 57);
}
.login__line span{
    margin: 0 8px;
}

.login__input {
    margin-bottom: 34px;
}
