.register__section {
    width: 364px;
    height: 424px;
    margin-top: 20px;
    padding: 0 32px 48px;
}

.register__section .a-link {
    color: #1d9bf0;
}
.register__section .a-link:hover {
    text-decoration: underline;
}

.register__first__title {
    font-size: 29px;
    font-weight: 600;
}

.register__first__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 33px;
    text-align: center;
}
.register__first__buttons svg  {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.register__first__buttons button,
.register__first__Create button{
    border-radius: 33px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 38px;
    color: rgb(15, 20, 25);
    font-weight: 600;
    font-size: 14.5px;
    cursor: pointer;
    transition: all .15s ease;
}
.register__first__buttons button:hover,
.register__first__Create button:hover {
    background-color: #dfdfdf;
}
.register__first__Create p {
    margin-top: 10px;
    font-size: 12.5px;
}

.register__first__login {
    margin-top: 33px;
    font-size: 14px;
}
.register__first__login a{
    margin-top: 33px;
    font-size: 14px;
}

.register__line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 19px 0 14px 0;
}
.register__line div{
    height: 1px;
    width: 100%;
    background-color: rgb(51, 54, 57);
}
.register__line span{
    margin: 0 8px;
}