.create__Everyone {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    width: fit-content;
    min-width: 24px;
    min-height: 24px;
    padding: 0 8px;
    border-radius: 99999px;
    cursor: pointer;
    transition: .3s ease;
}
.create__Everyone:hover {
    background-color: rgba(29, 155, 240, .1);
}
.create__Everyone span {
    line-height: 16px;
    font-size: 14px;
    color: rgb(29, 155, 240);
    margin-left: 4px;
    font-weight: 500;
}
.create__Everyone svg{
    width: 16px;
    height: 16px;
    fill: rgb(29, 155, 240) !important;
}

.create__line__between {
    height: 1px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(47, 51, 54) !important;
}