@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

:root {
    --blue: #1d9bf0;
    --black: #000;
    --text-color: #e7e9ea;
    --second-title: rgb(113, 118, 123);
    --error: #f4212e;
}

*::-webkit-scrollbar {
    width: 1px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}
.scroll::-webkit-scrollbar {
    width: 1px;
} 
.scroll::-webkit-scrollbar-thumb {
    background: #88888800; 
  }
.d-none {
    display: none !important;
}
.cur-none{
    pointer-events: none;
    opacity: 0.8;
}
.d-block {
    display: block;
}
.w100{
    width: 154px;
    height: 19px;
    border-radius: 17px;
    overflow: hidden;
}
.w50{
    width: 100px;
    height: 19px;
    border-radius: 17px;
    overflow: hidden;
}
.avatar64{
    height: 64px;
    width: 64px;
    border-radius: 999px !important;
    overflow: hidden;
    -webkit-border-radius: 999px !important;
    -moz-border-radius: 999px !important;
    -ms-border-radius: 999px !important;
    -o-border-radius: 999px !important;
}
.avatar64 img{
    height: 100%;
    width: 100%;
}
.bg-blue {
    background-color: var(--blue) !important;
}

.text-blue {
    color: var(--blue) !important;
}
.iconH{
    display: flex;
    padding: 6px;
    cursor: pointer;
    border-radius: 30px;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
}
.iconH svg{
    height: 20px;
}
.iconH:hover{
    background: #202327;
}
.iconHB:hover{
    background: #1d9bf026 !important;
}
.bg-gray {
    background-color: #202327;
}
.text-gray{
    color:  rgb(113, 118, 123) !important;
}
.ellipsis{
    max-width: 100%; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.flex_column{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.align-center{
    display: flex;
    align-items: center;
}
.underline:hover{
    text-decoration: underline;
    cursor: pointer;
}
.small__avatar{
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.small__avatar img {
    width: 100%;
    height: 100%;
}
#root {
    height: 100%;
}
svg{
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: var(--black); 
    position: relative;
}

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

[hidden] {
    display: none;
}

.popup {
    z-index: 11;
    background-color: #000;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
    position: absolute;
}

.center {
    display: grid;
    place-items: center;
}

.radius {
    border-radius: 16px;
}

.overlay__hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.overlay__showed {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(91, 112, 131, 0.4);
    height: 100vh;
}

.small-text {
    font-size: 14px;
    color: rgb(113, 118, 123);
}

.a-link {
    color: #1d9bf0 !important;
    cursor: pointer;
}
.a-link:hover {
    text-decoration: underline;
}

button {
    outline: none;
    border: none;
    border-radius: 33px;
    text-align: center;
    font-weight: 700;
}


.big-title {
    word-wrap: break-word;
    white-space: inherit;
    font-size: 20px;
    font-weight: 600;
    color: rgb(231, 233, 234);
}

.input {
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: rgb(231, 233, 234);
    height: 100%;
    width: 100%;
    text-align: left;
    line-height: 20px;
}