.page__not__found__section {
    margin-top: 105px;
}


/* .button__page__not__found {} */

.button__page__not__found button {
    margin-top: 30px;
    color: #fff;
    font-weight: 600;
    background-color: #1d9bf0;
}
